.login-form {
  width: 350px;
  position: fixed; /* 居中 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }
}