.header {
  background: #4184e0;
}
.logo {
  float: left;
  width: 186px;
  height: 42px;
  margin: 9px 0px 0px -6px;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout-background {
  background: #fff;
}
.ant-layout-sider-trigger{
  background: #4184e0;
}
.ant-layout-sider-trigger .anticon-left{
  font-size: 14px;
}